body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: white;
}


input {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

button {
  padding: 10px 16px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

/* Lobby  */
.lobby-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Game */
.game-container {
  padding: 40px;
  text-align: center;
}


/* Tile */
.tile-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.tile {
  width: 50px;
  height: 50px;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

.tile.revealed {
  background: #22c55e;
  color: black;
}

/* Notification */
.system-notice {
  background: #facc15;
  color: black;
  padding: 8px 12px;
  border-radius: 6px;
  margin: 10px auto;
  width: fit-content;
  font-weight: 500;
}


/* Guess  */
.guess-box {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 12px;
}

.guess-box input {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
}

.guess-box button {
  background: #38bdf8;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}   

/* Round Result */

.round-result {
  margin-top: 12px;
  font-weight: bold;
  color: #facc15;
}

/* timebar */

.timebar {
  height: 6px;
  background: #1f2937;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0;
}

.timebar-fill {
  height: 100%;
  background: linear-gradient(to right, #22c55e, #ef4444);
  transition: width 0.1s linear;
}